@import '../../../variables-globales'
@import '../header/header-variables'
@import '../footer/footer-variables'

:host 
    display: block 
    height: 100% 

    .cuerpo
        padding-bottom: $espacioEntreComponentes

@media (min-width: $anchoMinPantallaCambioFooter)
    :host
        margin-bottom: $alturaFooterEscritorio

    .cuerpo
        padding-top: $alturaHeaderEscritorio

@media (max-width: $anchoMaxPantallaCambioFooter)
    :host
        margin-bottom: $alturaFooterMovil

    .cuerpo
        padding-top: $alturaHeaderMovil
