@import '../../../styles'

:host 
    display: block 
    height: 100% 
    margin-bottom: $alturaFooterEscritorio

    .cuerpo
        padding-top: $alturaHeaderEscritorio
        padding-bottom: $espacioEntreComponentes
