

<app-contenedor-padre>

    <div class="container">
        <div class="row">
            <div class="col-12 contenedor-padre">
                <div class="presentacion">
                    <div class="opacidad">
                        <h3>ILES</h3>
                        <hr>
                        <p>Dedicada a promover estudios y propuestas en el ámbito sociocultural de la Argentina y Latinoamérica.</p>
                        <div routerlink="/quienes-somos" class="boton"s>Acerca de nosotros</div>
                    </div>
                </div>

                <div class="articulos-verticales">
                    <div class="superior"></div>
                    <div class="inferior">
                        <div class="articulo-izquierdo"></div>
                        <div class="articulo-derecho"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</app-contenedor-padre>