
<app-articulo-con-menu-flotante titulo='Principios rectores, objetivos y servicios'>

    <h2>Principios rectores:</h2>
    <ul>
        <li><p>Estar abiertos a diferentes concepciones de la realidad, con el objetivo de construir desde este lugar, un espacio genuino de pensamiento, para aportar desde una mirada crítica, al mejoramiento de las sociedades.</p></li>
        <li><p>Construir un polo de desarrollo del pensamiento nacional, dinámico y flexible a las contingencias del nuevo siglo y tomando en cuenta el marco natural que constituye América Latina.</p></li>
        <li><p>Convocar a mujeres y hombres que puedan realizar aportes para el mejoramiento de la educación, la cultura, la ciencia y la tecnología, para ofrecer a nuestras sociedades alternativas y cambios que redunden en su beneficio.</p></li>
    </ul>

    <hr>

    <h2>Objetivos:</h2>
    <ul>
        <li><p>Producir investigaciones en el campo de las ciencias sociales, en las áreas de historia, sociología, demogeografía, geografía, geografía económica, geografía política, psicología y educación cívica.</p></li>
        <li><p>Fomentar las relaciones educativas, mediante la colaboración académica con las universidades e instituciones afines, argentinas o extranjeras, promoviendo el intercambio de información, publicaciones, profesores, estudiantes y especialistas.</p></li>
        <li><p>Firmar convenios con personas físicas y jurídicas, públicas o privadas, a nivel nacional o internacional, sobre temas que hacen al objeto del instituto, sin fines de lucro.</p></li>
        <li><p>Auspiciar conferencias, foros de discusión, seminarios y cursos que enriquezcan el nivel académico, mejorando la educación, la cultura, la ciencia y la tecnología.</p></li>
        <li><p>Promover todo tipo de publicaciones y ediciones compatibles con el objeto de la asociación.</p></li>
        <li><p>Desarrollar actividades culturales, tales como conferencias, mesas redondas, debates, jornadas y foros referentes a las disciplinas sociales que tiendan a elevar el nivel intelectual y moral del individuo.</p></li>
        <li><p>Gestionar y otorgar becas en el orden nacional e internacional.</p></li>
        <li><p>Sostener la neutralidad institucional, política, social, religiosa e ideológica, sin discriminación de ninguna naturaleza.</p></li>
    </ul>

    <hr>
    
    <h2>Servicios:</h2>
    <ul >
        <li>Diseño, ejecución y evaluación de proyectos de investigación y de acción.</li>
        <li>Capacitación y actualización.</li>
        <li>Asesoramiento institucional.</li>
        <li>Comunicación y difusión.</li>
        <li>Registro gráfico y audiovisual de proyectos y eventos.</li>
    </ul>

</app-articulo-con-menu-flotante>
