
<app-articulo-con-menu-flotante titulo='Investigación y Opinión' articulosAOcultar='Investigacion'>

    <p>Esta sección recompila artículos de opinión y trabajos de investigación de los expertos del ILES.</p>
    <div class="articulos">
        <div class="articulo">
            <a href="../../../assets/investigaciones/Tecnoutopias.pdf" target="_blank">
                <h5>TECNOUTOPÍAS: CELEBRACIÓN Y RECHAZO</h5>
                <p>Adolfo Sequeira</p>
            </a>
        </div>
        <div class="articulo">
            <a href="/../../../assets/investigaciones/Psicologia-Deportiva-y-o-COACHING-DEPORTIVO.pdf" target="_blank">
                <h5>¿PSICOLOGÍA DEPORTIVA Y/O COACHING DEPORTIVO?</h5>
                <p>Marcelo Venerandi</p>
            </a>
        </div>
        <div class="articulo">
            <a href="/../../../assets/investigaciones/Eduacion-y-relaciones-comerciales.doc" target="_blank">
                <h5>¿LA EDUCACIÓN PUEDE SER LIBRE DE LAS RELACIONES COMERCIALES?</h5>
                <p>Francisco Javier De Luca</p>
            </a>
        </div>
    </div>


</app-articulo-con-menu-flotante>