

<app-banner-principal></app-banner-principal>

<app-contenedor>
    El Instituto Latinoamericano de Estudios Sociales (ILES) es una asociación civil integrada por profesionales de las ciencias sociales y de la educación con una amplia trayectoria, cuya finalidad es generar investigaciones y propuestas en los ámbitos socioculturales y educativos de Latinoamérica. Acompaña a gobiernos, organizaciones e instituciones de la región en el diseño y ejecución de proyectos para el crecimiento equitativo de las comunidades.
</app-contenedor>