@import './../../../variables-globales'
@import './header-variables'


    
:host
    border-top: 5px solid $colorPrincipal
    position: fixed
    height: $alturaHeaderEscritorio
    width: 100%
    top: 0
    border-bottom: .1px solid #ccc
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.2)
    background: #fff
    z-index: 999


    header
        display: flex
        justify-content: space-between
        align-items: center

    .logo
        cursor: pointer
        height: 80px
        width: auto

    .menu
        height: 100%
        display: flex
        align-items: center
        list-style: disc
        color: black
        justify-content: flex-end
        margin: 0
        width: 100%

        li
            padding: 10px 15px
            color: $colorPrincipal
            border-radius: 2px

            .link
                margin: 0
                font-size: 1rem             

            .sub-menu
                display: none

    li
        margin: 0 0 0 18px
        list-style-position: inside
        display: list-item

    .menu li:hover > .sub-menu
        display: block


    p
        margin: 0
        color: black
        display: inline
        font-weight: 400

    // .menu-wrap, .menu > div, .menu > div > div
    //     height: 100%

    // .toggler
    //     display: none

    // .menu-wrap > ul
    //     height: 100% 
    //     display: flex 
    //     align-items: center 
    //     justify-content: flex-end 
    //     margin: 0 
    //     width: 100% 

    // .menu-wrap > ul > li 
    //     margin: 0 0 0 18px

    //     display: none
    // .sub-link
    //     display: none

    

@media (min-width: $anchoMinDeCambioDeVistaMD)
    .hamburguesa, .toggler
        display: none

    .menu, .menu-wrap, .menu-wrap div, .menu-wrap div div
        height: 100%

    .hamburguesa, .toggler
        display: none

    .menu li
        cursor: pointer

    .menu li:hover > p
        color: $colorPrincipal

    .sub-menu
        padding: 0
        right: 0
        display: none
        min-width: 140px
        background: #fff
        position: absolute
        z-index: 999
        border: .1px solid #ccc
        box-shadow: 0 0 5px 0 #ccc
        border-radius: 3px
        width: auto
        list-style: disc

        .sub-link
            font-size: 14px
            font-weight: 400
            letter-spacing: 0



@media (max-width: $anchoMaxDeCambioDeVistaMD)

    :host
        height: $alturaHeaderMovil

        .container, .row
            height: 100%

    .hamburguesa, .toggler
        display: block

    .logo
        object-fit: contain
        width: 190px !important
        height: 60px !important


    .menu-wrap 
        height: inherit
        z-index: 1

    .hamburguesa, .hamburguesa > div
        position: relative
        display: flex
        align-items: center
        justify-content: center

    .hamburguesa
        z-index: 1
        width: $anchoHamburguesa
        height: $anchoHamburguesa
        padding: 10px
        background: $colorPrincipal
        border-radius: 3px

        div
            flex: none
            width: 100%
            height: 2px
            background: #fff

    .hamburguesa > div:after, .hamburguesa > div:before
        content: ""
        position: absolute
        z-index: 1
        top: -7px
        width: 100%
        height: 2px
        background: inherit

    .hamburguesa > div:after
        top: 7px

    .menu
        display: none

    .menu-wrap .toggler
        z-index: 2
        display: block
        position: absolute
        cursor: pointer
        width: $anchoHamburguesa
        height: $anchoHamburguesa
        opacity: 0

    .menu p 
        width: fit-content
        cursor: pointer
        color: white

    .menu, .menu > div
        display: flex
        align-items: center
        justify-content: center

    ul, li
        list-style-type: none

    .menu-wrap .menu
        position: fixed
        top: 0
        left: 0
        width: 100%
        height: 100%
        visibility: hidden
        overflow: hidden
        padding: 0
        background: $colorContraste
        display: flex
        align-items: flex-start
        justify-content: center
        flex-direction: column
        transform: scale(1)
        
        li ul 
            margin-top: 10px
            display: block
            position: relative
            width: 100%
            padding: 0

    .menu > li > p
        text-transform: uppercase

    .toggler:checked + .hamburguesa > div
        transform: rotate(135deg)

    .toggler:checked:hover + .hamburguesa > div
        transform: rotate(225deg)

    .toggler:checked + .hamburguesa > div:after, .toggler:checked + .hamburguesa > div:before
        top: 0
        transition: 0s
        transform: rotate(90deg)

    .toggler:checked ~ .menu
        visibility: visible