
<div class="container">
    <div class="row">
        <header class="col-12">
            <div class="logo" routerLink='/'></div>
            <div class="menu-wrap">
                <!-- <input type="checkbox" class='toggler'>
                <div class="hamburguer">
                    <div></div>
                </div>
                <div class="menu">
                    <div>
                        <div></div>
                    </div>
                    <ul>
                        <li>
                            <p class='link'><span>•</span> Inicio</p>
                        </li>
                        <li>
                            <p class='link'><span>•</span> Acerca de Iles</p>
                            <ul>
                                <li><p class="sub-link"><span>•</span>Quienes somos</p></li>
                                <li><p class="sub-link"><span>•</span>Principios rectores, objetivos y servicios</p></li>
                                <li><p class="sub-link"><span>•</span>Trayectoria institucional</p></li>
                                <li><p class="sub-link"><span>•</span>Presidencia y expertos</p></li>
                            </ul>
                        </li>

                        <li>
                            <p class="link"><span>•</span> Iniciativas</p>
                            <ul>
                                <li><p class="sub-link"><span>•</span>Ciudades del aprendizaje</p></li>
                                <li><p class="sub-link"><span>•</span>Laudato Si´</p></li>
                                <li><p class="sub-link"><span>•</span>Investigación y Opinión</p></li>
                            </ul>
                        </li>
                    </ul>
                </div> -->

            </div>
        </header>
    </div>
</div>