
<div class="container">
    <div class="row">
        <header class="col-12">
            <img class="logo" src='./../../../assets/logo.jpeg' routerLink='/'>
            <div class="menu-wrap">
                <!-- <input type="checkbox" class='toggler'>
                <div class="hamburguer">
                    <div></div> 
                </div> -->

                <input type="radio" type="checkbox" class="toggler">
                <div class="hamburguesa">
                    <div></div>
                </div>

                <ul class='menu'>
                    <li>
                        <p routerLink='/'>Inicio</p>
                    </li>
                    
                    <li>
                        <p routerLink='/quienes-somos'>Acerca de Iles</p>
                        <ul class='sub-menu'>
                            <li routerLink='/quienes-somos'><p class="sub-link">Quienes somos</p></li>
                            <li routerLink='/principios-objetivos-servicios'><p class="sub-link">Principios rectores, objetivos y servicios</p></li>
                            <li routerLink='/trayectoria-institucional'><p class="sub-link">Trayectoria institucional</p></li>
                            <li routerLink='/presidencia-y-expertos'><p class="sub-link">Presidencia y expertos</p></li>
                        </ul>
                    </li>

                    <li>
                        <p routerLink='/ciudades-del-aprendizaje'>Iniciativas</p>
                        <ul class='sub-menu'>
                            <li routerLink='/ciudades-del-aprendizaje'><p class="sub-link">Ciudades del aprendizaje</p></li>
                            <li routerLink='/laudato-si'><p class="sub-link">Laudato Si´</p></li>
                            <li routerLink='/investigacion-y-opinion'><p class="sub-link">Investigación y opinión</p></li>
                        </ul>
                    </li>
                </ul>

            </div>
        </header>
    </div>
</div>