<app-articulo-con-menu-flotante titulo='{{this.tituloPagina}}' [paginaAOcultar]="this.coleccionPaginas.obtenerPagina(5)">
    
    <p>Desde el año 2015, el ILES acompaña la municipalidad de Villa María, provincia de Córdoba, en el desarrollo y seguimiento del programa “Villa María, primera Ciudad del Aprendizaje de la Argentina”.</p>
    <p>Este proyecto ha sido fructífero y ha tenido resultados coincidentes con los Objetivos de Desarrollo Sustentable (ODS) Agenda 2030.</p>
    <p>De este trabajo realizado se destacan el Premio entregado por la UNESCO a la municipalidad de VIlla María en 2015; y la publicación en conjunto entre ILES, la Municipalidad de Villa María y la UNESCO, sobre el análisis de los indicadores observados en el progreso del proyecto.</p>
    
    <br>
    <br>

    <app-sub-titulo-articulo titulo='Sobre Ciudades del Aprendizaje'></app-sub-titulo-articulo>
    <p>A medida que las ciudades se expanden, los gobiernos municipales enfrentan retos asociados con la inclusión social, las nuevas tecnologías, la economía del conocimiento, la diversidad cultural y la sostenibilidad ambiental. </p>
    <p>En respuesta, un número creciente de ciudades están desarrollando estrategias innovadoras que les permitan a sus ciudadanos – jóvenes y adultos mayores – aprender nuevas habilidades y competencias durante la vida, transformando así sus ciudades en ‘ciudades del aprendizaje’.</p>
    <p>La UNESCO, con la colaboración de diversas agencias, convocó a una comisión de expertos que ha venido trabajando en el diseño de las características, principios e indicadores que permitan a los gobiernos locales tener una guía de acción para la constitución de ciudades de aprendizaje.</p>
    <p>Se trata de ordenar los recursos públicos y privados, de incentivar la participación activa de la sociedad, de optimizar el uso de la infraestructura a veces ociosa, para que la vida ciudadana contribuya a actividades de aprendizaje permanente. Surge con fuerza la necesidad de instalar un nuevo modo de gestión local.</p>
    <p>Es en este contexto que se realizó la Primera Conferencia Internacional sobre Ciudades del Aprendizaje en octubre de 2013 en la ciudad de Beijing, China, organizado por el Ministerio de Educación de China, el Gobierno Municipal de Beijing y la Organización de las Naciones Unidas para la Educación, la Ciencia y la Cultura (<a href='http://unesdoc.unesco.org/images/0022/002267/226755s.pdf' target="_blank">http://unesdoc.unesco.org/images/0022/002267/226755s.pdf</a>)</p>
    <p>En dicha conferencia fueron aprobados los documentos “Características de las Ciudades de Aprendizaje” así como “Indicadores sobre Ciudades de Aprendizaje” que dan un marco general de acción a la labor de las ciudades. Por otra parte, se aprobó el Premio UNESCO para Ciudades de Aprendizaje.</p>
    <p>La Segunda Conferencia Internacional, realizada en la Ciudad de México en septiembre de 2015, hizo hincapié en la importancia que tienen las ciudades del aprendizaje para el desarrollo sostenible (<a href='http://unesdoc.unesco.org/images/0023/002349/234932E.pdf' target="_blank">http://unesdoc.unesco.org/images/0023/002349/234932E.pdf</a>), especialmente para alcanzar el 4to ODS (“Garantizar una educación inclusiva, equitativa y de calidad y promover oportunidades de aprendizaje a lo largo de toda la vida para todos”) y el 11mo ODS (“Conseguir que las ciudades y los asentamientos humanos sean inclusivos, seguros, resilientes y sostenibles”)</p>
    <p>Además se establecieron las orientaciones estratégicas y los puntos de acción para promover el aprendizaje a lo largo de toda la vida como motor de la sostenibilidad social, económica y medioambiental en las ciudades de todo el mundo.</p>
    <p>Los Miembros de la Red Mundial de Ciudades del Aprendizaje se reunieron en Hangzhou, China, el 15 y 16 de noviembre de 2016 (<a href='http://uil.unesco.org/system/files/hangzhou-statement_1.pdf' target="_blank">http://uil.unesco.org/system/files/hangzhou-statement_1.pdf</a>) en el marco del avance de la Red a nivel global, poniendo énfasis en:</p>
    <ul>
        <li><p>El uso de tecnologías de la información y las comunicaciones para el desarrollo de ciudades del aprendizaje;</p></li>
        <li><p>La asignación de recursos de aprendizaje a diferentes comunidades, incluyendo: comunidades urbanas y zonas rurales;</p></li>
        <li><p>El desarrollo de un marco legal para la creación de ciudades del aprendizaje.</p></li>
        <li><p>el seguimiento del progreso de las ciudades del aprendizaje.</p></li>
    </ul>
    <p>Finalmente, se celebró la Tercera Conferencia Internacional sobre Ciudades del Aprendizaje en Cork, Irlanda, entre el 18 y 20 de septiembre de 2017. En ella se analizó el desarrollo de las ciudades del aprendizaje en el contexto de la Agenda 2030 para el Desarrollo Sostenible.</p>

    <br>
    <br>

    <app-sub-titulo-articulo titulo='Premio UNESCO a la ciudad del aprendizaje.'></app-sub-titulo-articulo>
    <p>Este premio se ha creado para estimular y recompensar el progreso alcanzado en el desarrollo de ciudades del aprendizaje en todo el mundo. Se otorga a ciudades que han logrado avances excepcionales en la construcción de ciudades del aprendizaje, mediante:</p>
    <ul>
        <li><p>La promoción de un aprendizaje inclusivo desde la educación básica hasta la superior.</p></li>
        <li><p>la revitalización del aprendizaje en las familias y comunidades.</p></li>
        <li><p>la promoción del aprendizaje para y en el lugar de trabajo.</p></li>
        <li><p>la ampliación del uso de nuevas tecnologías para el aprendizaje.</p></li>
        <li><p>la mejora de la calidad y excelencia en el aprendizaje.</p></li>
        <li><p>el fomento de la cultura del aprendizaje a lo largo de toda la vida.</p></li>
    </ul>
    <p>Cada Comisión Nacional de Cooperación con la UNESCO designará un máximo de tres ciudades para el premio. Un jurado internacional nombrado por la UNESCO seleccionará entonces hasta un máximo de seis ciudades por región para recibir esta distinción. Requisitos de elegibilidad:</p>
    <p>Los candidatos al premio de la UNESCO deben ser miembros (<a href='http://uil.unesco.org/es/aprendizaje-largo-de-vida/ciudades-del-aprendizaje/convertirse-miembro' target="_blank">http://uil.unesco.org/es/aprendizaje-largo-de-vida/ciudades-del-aprendizaje/convertirse-miembro</a>) de la Red Mundial de Ciudades del Aprendizaje de la UNESCO (<a href='http://uil.unesco.org/es/aprendizaje-largo-de-vida/ciudades-del-aprendizaje' target="_blank">http://uil.unesco.org/es/aprendizaje-largo-de-vida/ciudades-del-aprendizaje</a>).</p>
    
    <br>
    <br>
    
    <app-sub-titulo-articulo titulo='La experiencia de Villa maría con el acompañamiento del ILES'></app-sub-titulo-articulo>
    <p>En el año 2015, con el apoyo del ILES, Villa María se incorporó a la Red Mundial de Ciudades del Aprendizaje de la UNESCO alcanzando notables logros.</p>
    <p>En primer lugar, se consolidó la articulación de actividades y programas en torno al aprendizaje al interior del municipio y con la colaboración de instituciones como la Universidad Nacional de Villa María, la Universidad Tecnológica Nacional y el Parque Industrial.</p>
    <hr>
    <img src="../../../assets/villa-maria/entrega.png" alt="">
    <p class="titulo-imagen">Martín Gill, intendente de Villa María, recibe el premio Ciudad del Aprendizaje otorgado por la UNESCO en Cork, Irlanda, en septiembre de 2017. El ILES lo acompañó en su exitosa gestión.</p>
    <hr>
    <p>Al poco tiempo, la ciudad se constituyó en sede de la Primera Reunión de América Latina y el Caribe sobre Ciudades del Aprendizaje.</p>
    <p>Se estableció un acuerdo con la Ciudad de Ybycui, Paraguay, para implementar las experiencias exitosas de Villa María en el país vecino, poniendo énfasis en las actividades de intercambio.</p>
    <p>Villa María impulsó la puesta en marcha de la Red Mercosur de Ciudades del Aprendizaje que se encuentra en proceso de convertirse en una Red Latinoamericana.</p>
    <p>La ciudad cordobesa tuvo una participación destacada en la Tercera Conferencia Internacional de Ciudades del Aprendizaje celebrada en Cork, Irlanda, en septiembre de 2017, donde realizó una presentación especial ante el pleno de delegaciones.</p>
    <p>En ese encuentro, el municipio de Villa María, bajo la gestión de Martín Gill, recibió el premio Ciudad del Aprendizaje otorgado por el Instituto de la UNESCO para el Aprendizaje a lo Largo de Toda la Vida. Allí también se iniciaron conversaciones para el desarrollo de intercambios con la Ciudad de Swon, Corea del Sur, y Miraflores, Perú.</p>
    <p>Aprendizaje a lo Largo de Toda la Vida. Allí también se iniciaron conversaciones para el desarrollo de intercambios con la Ciudad de Swon, Corea del Sur, y Miraflores, Perú.</p>
    <hr>
    <img src="../../../assets/villa-maria/reconocimiento.png" alt="">
    <hr>
    <p>Además, se inició un trabajo técnico para el desarrollo de un sistema de indicadores que dé cuenta de los avances de la ciudad de acuerdo a las “Características de una Ciudad del Aprendizaje” establecida por la UNESCO</p>
    <p>En torno a las “características” de la Ciudad del Aprendizaje establecidas en la Declaración de Beijing, se promovió un proceso de mayor coordinación de programas existentes y nuevos tendiente a involucrar a toda la población y revitalizar el aprendizaje en familias y comunidades. También se busca consolidar a Villa María como una ciudad signada por la educación con proyección regional y nacional y con activa participación en la Red Mundial de Ciudades del Aprendizaje.</p>
    <p>Se encuentra en trámite la constitución de un Consejo Villa María Ciudad del Aprendizaje que reúne a representantes del municipio, la sociedad civil, las cámaras empresariales, las universidades, el parque tecnológico e instituciones educativas, con el fin de acompañar el proceso de desarrollo de Villa María Ciudad del Aprendizaje y ampliar la participación y el diálogo de la comunidad local en su conjunto.</p>


</app-articulo-con-menu-flotante>

    