<app-articulo-con-menu-flotante titulo='Ciudades del aprendizaje'>
    
    <p>Desde el año 2015, el ILES acompaña la municipalidad de Villa María, provincia de Córdoba, en el desarrollo y seguimiento del programa “Villa María, primera Ciudad del Aprendizaje de la Argentina”.</p>
    <p>Este proyecto ha sido fructífero y ha tenido resultados coincidentes con los Objetivos de Desarrollo Sustentable (ODS) Agenda 2030.</p>
    <p>De este trabajo realizado se destacan el Premio entregado por la UNESCO a la municipalidad de VIlla María en 2015; y la publicación en conjunto entre ILES, la Municipalidad de Villa María y la UNESCO, sobre el análisis de los indicadores observados en el progreso del proyecto.</p>
    <br>

    <app-sub-titulo-articulo titulo='Sobre Ciudades del Aprendizaje'></app-sub-titulo-articulo>

</app-articulo-con-menu-flotante>

    