@import '../../../variables-globales'

:host
    display: block
    padding: 0
    height: 100%

    .articulos
        color: #000
        border-top: $bordeEnComponentes
        box-shadow: 0 2px 10px 0 #ccc
        padding: 15px
        position: -webkit-sticky
        position: sticky
        border-radius: 5px
        top: 105px
        
    h5 
        font-size: 14px
        font-weight: 700

    hr
        background: #000
        margin: 10px 0 15px

    .listaIndice
        padding-left: 15px
        margin-bottom: 18px !important
        margin: 0

        li
            font-size: 12px

        li:not(:last-child)
            margin-bottom: 5px

    p, li
        font-size: 12px


    li:hover, .link:hover h6, .link:hover p
        color: $colorContraste
        transition: .5s
        cursor: pointer

    .link 
        cursor: pointer

        h6
            font-size: 13px
            font-weight: 600
            margin-bottom: 0

        p
            padding-top: 5px
            margin-bottom: 7px

        ul
            padding-left: 25px
            margin-bottom: 0
            padding-bottom: 0

        img
            width: 100%
            margin: 5px 0
            height: 90px
            -o-object-position: 0 0
            object-position: 0 0
            -o-object-fit: cover
            object-fit: cover
            border-radius: 5px