


<div class="articulos">

    <!-- <h5>Índice</h5>
    <hr>
    <ul class='listaIndice'>
        <li>Sobre ciudades del aprendizaje</li>
        <li>Premio UNESCO</li>
        <li>La experiencia de Villa maría con el acompañamiento del ILES</li>
    </ul> -->
    
    <h5>Artículos</h5>
    <hr>

    <div routerLink="{{coleccionPaginas.obtenerDireccion(5)}}" *ngIf="esteArticuloSeOcultara(coleccionPaginas.obtenerPagina(5))" class="link" tabindex="0">
        <h6>Ciudades del aprendizaje:</h6>
        <p>Desde el año 2015, el ILES ha estado realizando un trabajo de desarrollo y seguimiento del programa “Villa María.</p>
        <ul>
            <li>Sobre Ciudades del Aprendizaje</li>
            <li>Premio de la Unesco</li>
            <li>Experencia en Villa María</li>
        </ul>
    
        <hr>
    </div>

    <!---->
    <div routerLink="{{coleccionPaginas.obtenerDireccion(6)}}" *ngIf="esteArticuloSeOcultara(coleccionPaginas.obtenerPagina(6))" class="link" tabindex="0">
        <img src="/../../../../assets/fasciculos/papa2.png" alt="">
        <h6>Laudato Si´</h6>
        <p>Fascículos de la carta encíclica del Papa Francisco sobre el medio ambiente.</p>
    </div>

    <!---->
    <div routerLink="{{coleccionPaginas.obtenerDireccion(7)}}" *ngIf="esteArticuloSeOcultara(coleccionPaginas.obtenerPagina(7))" class="link" tabindex="0">
        <hr *ngIf="esteArticuloSeOcultara(coleccionPaginas.obtenerPagina(6))">
        <!---->
        <h6>Investigación y Opinión</h6>
        <p>Recopilación de artículos de opinión y trabajos de investigación de expertos del ILES.</p>
        <!---->
    </div>


</div>