@import '../../../styles'

:host 
    display: block

    .container
        margin-top: $espacioEntreComponentes

    .row
        box-shadow: 0 2px 5px 0 #ccc 
        border-radius: 4px 
        background: #fff 
        border-top: $bordeEnComponentes
        padding: 40px 30px
        