
<app-contenedor>

    <div class="container">
        <div class="row">
            <div class="col-md-9 col-12">
                <app-titulo-articulo *ngIf='tieneTitulo()' titulo="{{titulo}}"></app-titulo-articulo>

                <div class="articulo">
                    <ng-content></ng-content>    
                </div>
            </div>
            
            <!-- firma del menu con los parametros -->
            <div class="col-3 menu-flotante">
                <app-menu-flotante [articulosAOcultar]="this.articulosAOcultarMenu"></app-menu-flotante>
            </div>
            
        </div>
    </div>

</app-contenedor>