<app-articulo-con-menu-flotante titulo='¿Quiénes somos?'>
    
    <p>El Instituto Latinoamericano de Estudios Sociales -ILES-, es una asociación civil constituida en la Ciudad de Buenos Aires, Argentina, el 17 de noviembre de 1995 y autorizada para funcionar con carácter de persona jurídica el 28 de junio de 1996, mediante resolución de la Inspección General de Justicia IGJ nº 000658.</p>
    <p>El propósito que persigue es aportar, desde la investigación y la acción sistemática, criterios y proyectos para mejorar la calidad de vida de las personas al interior de sus comunidades.</p>
    
    <ul>
        <li><p>Desde la investigación, privilegia los caminos de la participación de todos los miembros de un grupo humano para encarar sus problemas y diseñar los proyectos capaces de resolverlos.</p></li>
        <li><p>Desde la acción, facilita la puesta en marcha de propuestas innovadoras y sostenibles, el seguimiento o afianzamiento de redes de cooperación, a través de una mirada interdisciplinar, multicultural y abarcativa.</p></li>
    </ul>
    
    <p>
        Dedicada a promover estudios y propuestas en el ámbito sociocultural y educativo de la Argentina y su marco natural histórico y político que la integra a Latinoamérica en su realidad y proyección, el instituto ofrece servicios en el ámbito. Guiado por principios rectores y objetivos correspondientes con los ODS.
        <br>
        <a routerLink="/principios-objetivos-servicios">Principios rectores, objetivos y servicios</a>
    </p>

    <p>
        En 25 años de actividad, realizó numerosas actividades en los ámbitos socioculturales y educativos. 
        <br>
        <a routerLink="/trayectoria-institucional">Trayectoria institucional</a>
    </p>

    <p>
        El ILES está presidido por Marta Pini, e integrado por profesionales de las ciencias sociales, de la educación y las humanidades, con una reconocida trayectoria. 
        <br>
        <a routerLink="/presidencia-y-expertos">Presidencia y expertos.</a>
    </p>

</app-articulo-con-menu-flotante>

    