<app-contenedor-padre>
    <div class="col-md-3 col-12">
        <div class="container-fluid logo">
            <div class="row">
                <article class="col-12">
                    <h4>ILES</h4>
                    <p>Dedicada a promover estudios y propuestas en el ámbito sociocultural y educativo.</p>
                </article>
            </div>
        </div>
    </div>

    <article class="col-md-3 col-12">
        <h5 class='subtitulo'>Acerca de ILES</h5>
        <ul>
            <li>
                <p routerLink='{{this.coleccionPaginas.obtenerDireccion(2)}}'>{{this.coleccionPaginas.obtenerNombrePagina(2)}}</p>
            </li>
            <li>
                <p routerLink='{{this.coleccionPaginas.obtenerDireccion(1)}}'>{{this.coleccionPaginas.obtenerNombrePagina(1)}}</p>
            </li>
            <li>
                <p routerLink='{{this.coleccionPaginas.obtenerDireccion(3)}}'>{{this.coleccionPaginas.obtenerNombrePagina(3)}}</p>
            </li>
            <li>
                <p routerLink='{{this.coleccionPaginas.obtenerDireccion(4)}}'>{{this.coleccionPaginas.obtenerNombrePagina(4)}}</p>
            </li>
        </ul>
    </article>
    <article class="col-md-3 col-12">
        <h5 class='subtitulo'>Iniciativas</h5>
        <ul>
            <li>
                <p routerLink='{{this.coleccionPaginas.obtenerDireccion(5)}}'>{{this.coleccionPaginas.obtenerNombrePagina(5)}}</p>
            </li>
            <li>
                <p routerLink='{{this.coleccionPaginas.obtenerDireccion(6)}}'>{{this.coleccionPaginas.obtenerNombrePagina(6)}}</p>
            </li>
            <li>
                <p routerLink='{{this.coleccionPaginas.obtenerDireccion(7)}}'>{{this.coleccionPaginas.obtenerNombrePagina(7)}}</p>
            </li>
        </ul>
    </article>
    <article class="col-md-3 col-12 articuloFooter">
        <h5 class='subtitulo'>Contactanos</h5>
        <img class='iconoContacto' src="../../../assets/iconos/email.png" style="width: 15px;">
        <p >info@iles.com.ar</p>
    </article>
</app-contenedor-padre>
<div class="autor">
    <p>Diseñado por Santiago Jorda // sjorda@fi.uba.ar</p>
</div>

