<app-contenedor-padre>
    <div class="col-md-3 col-12">
        <div class="container-fluid logo">
            <div class="row">
                <article class="col-12">
                    <h4>ILES</h4>
                    <p>Dedicada a promover estudios y propuestas en el ámbito sociocultural y educativo.</p>
                </article>
            </div>
        </div>
    </div>

    <article class="col-md-3 col-12">
        <h5 class='subtitulo'>Acerca de ILES</h5>
        <ul>
            <li>
                <p routerLink='/quienes-somos'>Quienes somos</p>
            </li>
            <li>
                <p routerLink='/principios-objetivos-servicios'>Principios rectores, objetivos y servicios</p>
            </li>
            <li>
                <p routerLink='/trayectoria-institucional'>Trayectoria institucional</p>
            </li>
            <li>
                <p routerLink='/presidencia-y-expertos'>Presidencia y expertos</p>
            </li>
        </ul>
    </article>
    <article class="col-md-3 col-12">
        <h5 class='subtitulo'>Iniciativas</h5>
        <ul>
            <li>
                <p routerLink='/ciudades-del-aprendizaje'>Ciudades del aprendizaje</p>
            </li>
            <li>
                <p routerLink='/laudato-si'>Laudato Si´</p>
            </li>
            <li>
                <p routerLink='/investigacion-y-opinion'>Investigación y opinión</p>
            </li>
        </ul>
    </article>
    <article class="col-md-3 col-12 articuloFooter">
        <h5 class='subtitulo'>Contactanos</h5>
        <img class='iconoContacto' src="../../../assets/iconos/email.png" style="width: 15px;">
        <p >info@iles.com.ar</p>
    </article>
</app-contenedor-padre>
<div class="autor">
    <p>Diseñado por Santiago Jorda // sjorda@fi.uba.ar</p>
</div>

