@import '../../../variables-globales'
@import 'footer-variables'

:host
    background: $colorPrincipal 
    display: flex 
    flex-direction: column 
    justify-content: space-between 
    color: #fff 
    position: absolute
    bottom: 0
    width: 100%
    box-shadow: 0 -2px 5px 0 rgba(0,0,0,.2) 
    padding-top: 30px 
    padding-bottom: 0 

    p
        margin: 0
        font-size: 14px
        display: inline
        

    .logo
        border: none
        margin-bottom: 30px
        height: 100%

        h4
            font-family: Helvetica,Arial,sans-serif
            font-weight: 300
            text-shadow: 0 .1px 0 hsla(0,0%,39.2%,.3)


    .subtitulo
        font-size: 16px
        color: $colorContraste
        font-weight: 500

    ul p:hover
        transition: .5s
        color: $colorContraste

    ul 
        list-style: disc
        list-style-position: inside
        font-size: 14px
        padding: 0

        p
            cursor: pointer
            width: fit-content
            padding: 2px 0
            border-radius: 5px
            
            span
                margin-right: 5px
                font-size: 10px

    .iconoContacto
        width: 15px
        margin-right: 10px
        display: inline-block


    .autor 
        display: flex
        align-items: center
        justify-content: center
        background: $colorContraste
        width: 100%
        text-align: center
        color: #bdbdbd
        margin-top: 20px




@media (min-width: $anchoMinPantallaCambioFooter)

    .logo
        border-right: .1px solid #fff

    .host 
        height: $alturaAutorFooterEscritorio
        
    .autor
        height: $alturaAutorFooterEscritorio


@media (max-width: $anchoMaxPantallaCambioFooter)


    .col-md-3
        flex: 0 0 100%
        max-width: 100%

    :host 
        height: $alturaFooterMovil

    .autor
        height: $alturaAutorFooterMovil

    .logo
        border: none
        margin-bottom: 30px

    article
        text-align: center

    article:not(:last-child)
        margin-bottom: 30px