<app-articulo-con-menu-flotante titulo='{{this.tituloPagina}}' [paginaAOcultar]="this.coleccionPaginas.obtenerPagina(6)"> 

    <p>Nuestro instituto ha diseñado una serie de Fascículos sobre la Carta encíclica Laudato Si´ del Santo Padre Francisco sobre el cuidado de la Casa Común, en la cual se realiza una crítica al modelo socioeconómico que nos ha llevado a la degradación ambiental y a la desigualdad que hoy en día atraviesa nuestro planeta. En mensaje del Papa, junto con los comentarios y opiniones de diversas personalidades del ámbito confesional y no confesional, se encuentran en las seis publicaciones que son de libre acceso.</p>
    
    <hr class="mt-4">
    
    <div class="container">
        <div class="row contenido">
            <app-articulo-laudato urlImagen="../../../assets/fasciculos/laudato1.png" redireccion="/../../../../assets/fasciculos/laudato_si_n1_AGOS.pdf"></app-articulo-laudato>
    
            <app-articulo-laudato urlImagen="../../../assets/fasciculos/laudato2.png" redireccion="/../../../../assets/fasciculos/Numero2_laudato_si_AGOS.pdf"></app-articulo-laudato>

            <app-articulo-laudato urlImagen="../../../assets/fasciculos/laudato3.png" redireccion="/../../../../assets/fasciculos/Numero3_laudato_si_AGOS.pdf"></app-articulo-laudato>
    
            <app-articulo-laudato urlImagen="../../../assets/fasciculos/laudato4.png" redireccion="/../../../../assets/fasciculos/Numero4_laudato_si_AGOS.pdf"></app-articulo-laudato>
    
            <app-articulo-laudato urlImagen="../../../assets/fasciculos/laudato5.png" redireccion="/../../../../assets/fasciculos/Numero5_laudato_si_AGOS.pdf"></app-articulo-laudato>
    
            <app-articulo-laudato urlImagen="../../../assets/fasciculos/laudato6.png" redireccion="/../../../../assets/fasciculos/Numero6_laudato_si_AGOS.pdf"></app-articulo-laudato>
        </div>
    </div>

</app-articulo-con-menu-flotante>