
@import 'variables-globales.sass'
@import 'app/estructura/footer/footer-variables.sass'
@import 'app/estructura/header/header-variables'

html 
  min-height: 100%
  position: relative

.container
    height: 100%
    max-width: 1000px

body 
    margin: 0 0 $alturaFooterEscritorio 0
    background: #f3f3f3 
    background-image: url('/../../../assets/fondo/fondo-cuadricula.png') 
    background-repeat: repeat 

.row
    height: 100%

*
    font-family: Helvetica,Arial,sans-serif 
    font-weight: 300
    text-shadow: 0 .1px 0 hsla(0,0%,39.2%,.3)

h1
    font-size: 30px

h2
    font-size: 25px

p
    font-size: 14px
    line-height: 20px

img, hr
    width: 100%

*:focus
    outline: none