
<app-contenedor>
    <app-titulo-articulo titulo='Presidencia'></app-titulo-articulo>
    <div class="personal">
        <h3><span>➤</span> Mg. Marta Pini</h3>
        <h5>Miembro fundador del ILES y actual presidente.</h5>
        <p>Magister en Gestión Educativa. Docente concursada e investigadora de la Universidad Nacional de Tres de Febrero y de la Universidad Pedagógica. Doctoranda en Educación, tesis en curso sobre Internacionalización de la Educación Superior. Ex rectora de la Universidad Salesiana. Ha realizado ponencias en congresos nacionales e internacionales, escrito libros y parte de ellos, artículos e informes de investigación. Ha sido coordinadora para Argentina del proyecto bilateral, Argentina-Canadá sobre Educación Alternativa, desarrollado en Rosario, provincia de Santa Fe, financiado por la Agencia Canadiense de Desarrollo Internacional –ACDI-. Ha recibido becas de los gobiernos de Estados Unidos y Canadá, Grants de Investigación y de participación en Congresos de la Universidad de Victoria, British Columbia, Canadá.</p>
    </div>
</app-contenedor>


<app-contenedor>
    <app-titulo-articulo titulo='Expertos'></app-titulo-articulo>
    <div class="personal">
        <h3><span>➤</span> Marcelo Venerandi</h3>
        <p>Dr. en Educación Física. Universidad de Castilla La Mancha, España. Magister en Gestión de Instituciones Deportivas. Docente. Ensayista. Autor de innumerables ponencias sobre Gestión de Instituciones. Experto Universitario en M-Learning Certificado por California Miramar University Estados Unidos. Coaching de Equipos Deportivos. Master en Fundamentos en Psicología de la Educación y el DEPORTE Universidad Autónoma de Madrid, España.</p>
    </div>
    
    <div class="personal">
        <h3><span>➤</span> Rafael De Piano</h3>
        <p>Doctor en Educación por la Universidad Nacional de Entre Ríos. Licenciado en Psicología por la Universidad de Buenos Aires. Profesor de Educación Especial y Profesor para la Enseñanza Primaria. Diplomado en Estudios Superiores de Universidad (DESU) “Jóvenes en dificultad. Enfoques interculturales y prácticas profesionales” de la Fundación Centro de Estudios Multidisciplinarios y Universitè Paris 8. Es profesor tutor en Pedagogías de las Diferencias (FLACSO Argentina). Publicó artículos en la revista de psicología en el campo de la educación “Ensayos y Experiencias”, tales como “En los márgenes de la escuela” y “La tutoría en escuelas de educación media”. Otros de sus escritos son “Análisis acerca de la profesión docente” (UBA), “Precipitando el abismo (CEM – París 8)</p>
    </div>
    
    <div class="personal">
        <h3><span>➤</span> Adolfo Sequeira</h3>
        <p>Especialista en Promoción del Arte y Gestión Cultural. Curador y Jurado en Salones Nacionales. Dirigió la galería de arte Estampa Artes Visuales y fue responsable del gabinete de grabado y obra gráfica de la galería Espacio Centro. Ex- Director del Museo Provincial de Bellas Artes Emilio Caraffa (Córdoba) Escritor. Ensayista. Es autor de los libros “Topos Remotos”, “La Gratitud”, “Ciudad Global/ Arte Tribal” y “Ambos Mundos”, entre otros.</p>
    </div>
    
    <div class="personal">
        <h3><span>➤</span> María Elena Romero</h3>
        <p>Socióloga. Coordinadora de Investigaciones del Centro de Estudios en Políticas Laborales y Sociales del Instituto Torcuato Di Tella y de la Cátedra UNESCO sobre las manifestaciones actuales de la cuestión social. Investigadora principal del “Relevamiento de información y análisis del sistema educativo provincial, dimensionamiento y caracterización” de la Provincia de Salta-Consejo Federal de Inversiones (2008). Ha colaborado en la investigación “Trabajo decente para la jóvenes en la Argentina” para la Oficina Internacional de Trabajo (2007). Ha co-coordinado el estudio cualitativo “Discurso e imaginario social de los jóvenes en la Argentina” para la Organización de Estados Iberoamericanos (2005-2006).</p>
    </div>
    
    <div class="personal">
        <h3><span>➤</span> Guillermo Pérez Sosto</h3>
        <p>Sociólogo. Director del Centro de Estudios en Políticas Laborales y Sociales del Instituto Torcuato Di Tella y Coordinador General de la Cátedra UNESCO sobre las manifestaciones actuales de la cuestión social. Coordinador de la caracterización sociodemográfica y sociocultural de los destinatarios del Programa “Educación media y formación para el trabajo para jóvenes” para la Unión Europea y el Ministerio de Educación de la Nación (2009-2010). Coordinador del proyecto de investigación “Vulnerabilidad, precarización y desafiliación en el conurbano bonaerense. Un análisis desde el discurso e imaginario social de los jóvenes de 15 a 24 años” para el Programa Participación de la UNESCO (2007-2010).</p>
    </div>
    
    <div class="personal">
        <h3><span>➤</span> Josefina Piñón Rizzi</h3>
        <p>Dra. en Sociología. Especialista en Evaluación, Monitoreo y Auditoría de subvenciones de financiadores públicos y privados. Miembro del Seminario Charles Babbage de la Universidad Complutense de Madrid. Asesoría técnica y metodológica en procesos gubernamentales e institucionales de “localización” de la Agenda 2030 (ODS) y en la definición de estrategias e instrumentos de seguimiento y monitoreo de la Eficacia de la Ayuda (Alianza Global). Asesoría en la implementación de normas técnicas para la gestión de la Cooperación Internacional y la Cooperación Sur – Sur. Diseño de Sistema Nacional de Capacidades.</p>
    </div>
</app-contenedor>